.app {
  text-align: center;
  margin-top: 30px;
}

.app button {
  padding: 10px 20px;
  background-color: inherit;
  border: 1px solid gray;
}

.app button:hover{
  background-color: gray;
  color: white;
}

.sigBottom{
  text-align: right;
  margin-top: 10px;
}

.sigBottom button {
  padding: 6px 10px;
}
.sigPadContainer {
    background-color: rgb(238, 235, 235);
    padding: 0 10px 10px;
  }
.sigPadContainer hr{
  margin-bottom: unset;
  background-color: gainsboro;
}
.sigButContainer button {
  border: none;
  margin-left: auto;
  color: #767676;
  padding: 0;
  display: flex;
  margin-top: 5px;
  justify-content: stretch;
}
.sigButContainer button:hover {
  background-color: unset;
  color: black;
}
.sigCanvas{
width: 100%;
height: 200px;
}

.sigButContainer{
display: grid;
justify-content: start;
}